.grid {
  display: grid;
  grid-template: repeat(1, 1fr)/repeat(4, 55px);
  gap: 16px;
  justify-content: center;
}
@media (min-width: 1362px) {
  .grid {
    grid-template: repeat(1, 1fr)/repeat(12, 65px);
    gap: 31px;
  }
}
@media (min-width: 1920px) {
  .grid {
    grid-template: repeat(1, 1fr)/repeat(12, 104px);
    gap: 32px;
  }
}
.grid--tablet {
  display: block;
}
@media (min-width: 1362px) {
  .grid--tablet {
    display: grid;
  }
}
.grid--desktop {
  display: block;
}
@media (min-width: 1920px) {
  .grid--desktop {
    display: grid;
  }
}
.grid__item--phone-1-1 {
  grid-column: 1/2;
}
.grid__item--phone-1-2 {
  grid-column: 1/3;
}
.grid__item--phone-1-3 {
  grid-column: 1/4;
}
.grid__item--phone-1-4 {
  grid-column: 1/5;
}
.grid__item--phone-2-2 {
  grid-column: 2/3;
}
.grid__item--phone-2-3 {
  grid-column: 2/4;
}
.grid__item--phone-2-4 {
  grid-column: 2/5;
}
.grid__item--phone-3-3 {
  grid-column: 3/4;
}
.grid__item--phone-3-4 {
  grid-column: 3/5;
}
.grid__item--phone-4-4 {
  grid-column: 4/5;
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1362px) {
  .grid__item--tablet-12-12 {
    grid-column: 12/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1920px) {
  .grid__item--desktop-12-12 {
    grid-column: 12/13;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page__body {
  background-color: #1E1E1E;
  font-family: "Roboto", sans-serif;
}
.page__header {
  padding-top: 25px;
  margin-bottom: 40px;
}
@media (min-width: 1362px) {
  .page__header {
    margin-bottom: 55px;
  }
}
.page__footer {
  margin-bottom: 87px;
}
.page__grid {
  padding-bottom: 64px;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
}
@media (min-width: 1362px) {
  .container {
    padding: 0 120px;
  }
}
@media (min-width: 1920px) {
  .container {
    padding: 0 160px;
  }
}

.content__left {
  margin-bottom: 50px;
}
.content__right {
  margin-bottom: 56px;
}
@media (min-width: 1362px) {
  .content {
    display: flex;
    justify-content: space-between;
    gap: 5%;
  }
  .content__left {
    position: relative;
    top: 65px;
  }
}
@media (min-width: 1920px) {
  .content__left {
    top: 105px;
  }
}

.left {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left__founder {
  width: 45%;
  height: 165px;
  border-bottom: 1px #3D4143 solid;
  border-top: 1px #3D4143 solid;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 1362px) {
  .left__founder {
    height: 330px;
  }
}
@media (min-width: 1920px) {
  .left__founder {
    height: 512px;
  }
}
.left__boss {
  width: 45%;
  height: 165px;
  border-bottom: 1px #3D4143 solid;
  border-top: 1px #3D4143 solid;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 1362px) {
  .left__boss {
    height: 330px;
  }
}
@media (min-width: 1920px) {
  .left__boss {
    height: 512px;
  }
}
.left__image {
  width: 104px;
  height: 104px;
  border-radius: 50%;
}
@media (min-width: 1362px) {
  .left__image {
    width: 208px;
    height: 208px;
  }
}
@media (min-width: 1920px) {
  .left__image {
    width: 345px;
    height: 345px;
  }
}
.left__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #F2F2F3;
}
@media (min-width: 1362px) {
  .left__name {
    font-size: 24px;
  }
}
.left__pos {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #555B5E;
}
@media (min-width: 1362px) {
  .left__pos {
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .left__pos {
    position: relative;
    top: -20px;
  }
}

.right {
  width: 100%;
}
.right__el {
  margin: 0 auto;
  border: 1px solid #3D4143;
  border-radius: 0 0 10px 0;
  display: flex;
  width: 273px;
  height: 56px;
  margin-bottom: 16px;
}
.right__el--title {
  margin-bottom: 0;
  border: none;
}
@media (min-width: 1362px) {
  .right__el {
    margin: none;
    height: 65px;
    width: 100%;
    margin-bottom: 25px;
  }
  .right__el--title {
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .right__el {
    height: 105px;
  }
}
.right__icon {
  width: 60px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  border-right: 1px solid #3D4143;
}
.right__icon--empty {
  border: none;
}
@media (min-width: 1362px) {
  .right__icon {
    height: 65px;
    width: 65px;
  }
}
@media (min-width: 1920px) {
  .right__icon {
    width: 105px;
    height: 105px;
  }
}
.right__icon--adr {
  background-image: url(../images/icon/adr.png);
}
.right__icon--tel {
  background-image: url(../images/icon/phone.png);
}
.right__icon--email {
  background-image: url(../images/icon/email.png);
}
.right__icon--clock {
  background-image: url(../images/icon/clock.png);
}
.right__text {
  display: flex;
  align-items: center;
  padding-left: 17px;
  height: 56px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #F2F2F3;
}
@media (min-width: 1362px) {
  .right__text {
    height: 65px;
    padding-left: 20px;
  }
}
@media (min-width: 1920px) {
  .right__text {
    padding-left: 30px;
    height: 105px;
    font-size: 16px;
  }
}
.right__text--weekend {
  font-size: 11px;
}
@media (min-width: 1362px) {
  .right__text--weekend {
    font-size: 13px;
  }
}
@media (min-width: 1920px) {
  .right__text--weekend {
    font-size: 16px;
  }
}
.right__text--title {
  color: #878E92;
  border: 1px solid #3D4143;
  border-bottom: none;
  border-radius: 0 10px 0 0;
  width: 200px;
  position: relative;
  left: -12px;
}
@media (min-width: 1362px) {
  .right__text--title {
    height: 65px;
    left: -6px;
  }
}
@media (min-width: 1920px) {
  .right__text--title {
    width: 275px;
    height: 105px;
    left: -14px;
    font-size: 16px;
  }
}

.footer__content {
  padding: 19px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #3D4143;
  border-bottom: 1px solid #3D4143;
}
@media (min-width: 1362px) {
  .footer__content {
    width: 352px;
    position: relative;
    left: 63%;
  }
}
.footer__text {
  color: #878E92;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 1362px) {
  .footer__text {
    font-size: 14px;
  }
}
.footer__icons {
  height: 24px;
}
.footer__icon {
  margin-right: 14px;
  width: 24px;
  height: 24px;
}
@media (min-width: 1362px) {
  .footer__icon {
    margin-right: 20px;
  }
}

.header {
  padding-top: 25px;
  margin-bottom: 100px;
}
.header--gallery {
  margin-bottom: 32px;
}
@media (min-width: 1362px) {
  .header--gallery {
    margin-bottom: 56px;
  }
}
.header__sub {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.header__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  align-items: center;
}
.header__logo {
  width: 56px;
  height: 56px;
  background-image: url(../images/logo.png);
  background-position: center;
  background-size: cover;
}
.header__logo--cont {
  background-image: url(../images/logo-white.svg);
}
@media (min-width: 1362px) {
  .header__logo {
    width: 64px;
    height: 64px;
  }
}
.header__contact {
  padding: 0 15px;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  color: #1E1E1E;
}
.header__contact--cont {
  background-color: #F2F2F3;
  color: #1E1E1E;
}
@media (min-width: 1362px) {
  .header__contact {
    font-size: 16px;
    line-height: 32px;
    margin-right: 40px;
  }
}
.header__gallery {
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  color: #F2F2F3;
  background-color: #1E1E1E;
  width: 72px;
  text-align: center;
}
.header__gallery--cont {
  color: #1E1E1E;
}
.header__gallery--main {
  background-color: transparent;
  color: #1E1E1E;
}
@media (min-width: 1362px) {
  .header__gallery {
    padding: 5px 15px;
    width: 96px;
    font-size: 16px;
    margin-right: 40px;
  }
}
@media (min-width: 1920px) {
  .header__gallery {
    width: 136px;
  }
}
.header__lang {
  padding: 5px 15px;
  position: relative;
  text-align: center;
  font-size: 12px;
  background-color: #1E1E1E;
  border: none;
  height: 25px;
  width: 50px;
  color: #F2F2F3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.header__lang--cont {
  color: #1E1E1E;
  background-color: #fff;
}
@media (min-width: 1362px) {
  .header__lang {
    width: 100px !important;
    height: 32px;
  }
}

.contents {
  max-width: 50%;
  z-index: -1;
}
.contents__wrapper-first {
  display: flex;
  flex-direction: column;
  min-width: 280px;
}
@media (min-width: 1362px) {
  .contents__wrapper-first {
    width: 500px;
  }
}
@media (min-width: 1920px) {
  .contents__wrapper-first {
    width: 650px;
  }
}
.contents__wrapper-second {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1362px) {
  .contents__wrapper-second {
    width: 500px;
  }
}
@media (min-width: 1920px) {
  .contents__wrapper-second {
    width: 650px;
  }
}
.contents__subtitle {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 38px;
  color: #fff;
}
@media (min-width: 1362px) {
  .contents__subtitle {
    font-size: 54px;
  }
}
@media (min-width: 1920px) {
  .contents__subtitle {
    font-size: 72px;
  }
}
.contents__rec {
  width: 50px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 10px 0 0 0;
  margin-left: 20px;
}
@media (min-width: 1362px) {
  .contents__rec {
    width: 60px;
    height: 80px;
  }
}
@media (min-width: 1920px) {
  .contents__rec {
    width: 80px;
    height: 115px;
  }
}
.contents__title {
  font-family: "Exo 2", sans-serif;
  font-weight: 900;
  font-size: 49px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 1362px) {
  .contents__title {
    font-size: 64px;
  }
}
@media (min-width: 1920px) {
  .contents__title {
    font-size: 92px;
  }
}
.contents__text-first {
  padding: 10px 20px;
  width: 250px;
  min-height: 55px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
}
@media (min-width: 1362px) {
  .contents__text-first {
    width: 275px;
    min-height: 75px;
    font-size: 32px;
  }
}
@media (min-width: 1920px) {
  .contents__text-first {
    width: 375px;
    min-height: 105px;
    font-size: 42px;
  }
}
.contents__text-second {
  height: 123px;
  width: 200px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 10px 0;
  align-self: end;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1362px) {
  .contents__text-second {
    width: 275px;
    height: 155px;
    font-size: 16px;
  }
}
@media (min-width: 1920px) {
  .contents__text-second {
    width: 380px;
    height: 215px;
    font-size: 23px;
  }
}

.slider {
  position: relative;
}

.slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
}

.slick-arrow.slick-prev {
  display: none !important;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  top: 30%;
  right: 5%;
  background: url(../images/call_made.png) 0 0/100% no-repeat;
}
@media (min-width: 1362px) {
  .slick-arrow.slick-prev {
    display: block !important;
    z-index: 999 !important;
  }
}

.slick-dots {
  display: none !important;
  position: absolute;
  top: 45%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1362px) {
  .slick-dots {
    display: block !important;
  }
}

.slick-dots .slick-active button {
  width: 25px !important;
  border-color: none;
  outline: none;
}

.slick-dots li {
  list-style: none;
}

.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  color: #fff;
}

.slick-arrow.slick-next {
  display: none !important;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  right: 5%;
  top: 60%;
  background: url(../images/call_made1.png) 0 0/100% no-repeat;
}
@media (min-width: 1362px) {
  .slick-arrow.slick-next {
    display: block !important;
    z-index: 999 !important;
  }
}

.slider-num {
  position: absolute;
  top: 48.5%;
  right: 8%;
  color: #fff;
  font-size: 15px;
}

.slick-list {
  overflow: hidden;
}

.slider-image {
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/slide1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-image-2 {
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/slide2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-image-3 {
  max-width: 100%;
  height: 100vh;
  background-image: url(../images/slide3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-item {
  max-width: 100%;
  height: 100vh;
}

.gallery__ph-1 {
  width: 128px;
  height: 128px;
}
@media (min-width: 1362px) {
  .gallery__ph-1 {
    width: 353px;
    height: 353px;
  }
}
@media (min-width: 1920px) {
  .gallery__ph-1 {
    width: 512px;
    height: 512px;
  }
}
.gallery__ph-2 {
  width: 128px;
  height: 128px;
}
@media (min-width: 1362px) {
  .gallery__ph-2 {
    width: 353px;
    height: 353px;
  }
}
@media (min-width: 1920px) {
  .gallery__ph-2 {
    width: 512px;
    height: 512px;
  }
}
.gallery__ph-3 {
  width: 272px;
  height: 272px;
}
@media (min-width: 1362px) {
  .gallery__ph-3 {
    width: 353px;
    height: 353px;
  }
}
@media (min-width: 1920px) {
  .gallery__ph-3 {
    width: 512px;
    height: 512px;
  }
}
.gallery__ph-4 {
  width: 272px;
  height: 360px;
}
@media (min-width: 1362px) {
  .gallery__ph-4 {
    width: 544px;
    height: 728px;
  }
}
@media (min-width: 1920px) {
  .gallery__ph-4 {
    width: 784px;
    height: 1048px;
  }
}
.gallery__ph-5 {
  width: 272px;
  height: 360px;
}
@media (min-width: 1362px) {
  .gallery__ph-5 {
    width: 544px;
    height: 728px;
  }
}
@media (min-width: 1920px) {
  .gallery__ph-5 {
    width: 784px;
    height: 1048px;
  }
}
.gallery__ph-6 {
  width: 272px;
  height: 176px;
}
@media (min-width: 1362px) {
  .gallery__ph-6 {
    width: 1120px;
    height: 744px;
  }
}
@media (min-width: 1920px) {
  .gallery__ph-6 {
    width: 1600px;
    height: 1064px;
  }
}